{% {% extends "shopapp/base.html" %} %}

{% block title %}
    Детали заказ № {{ object.pk }} 
{% endblock  %}

{% block body %}
    <h1> Заказ № {{ object.pk }} </h1>
    <div>
        <p>Заказ от: {% firstof object.user.first_name object.user.username %}</p>
        <p>Промо-код: <code>{{ object.promocode }}</code></p>
        <p>Адрес доставки: {{ object.delivery_address }}</p>
        <div>
            Продукты в заказе:
            <ul>
                {% for product in object.products.all %}
                    <li>{{ product.name }} for ${{ product.price }}</li>
                {% endfor %}

            </ul>
        </div>
    </div>

    <div>
       <a href="{% url 'shopapp/order_list.html' %}"></a>
    </div>    
{% endblock  %}