{% extends "shopapp/base.html" %}

{% block title %}
    Потвердить архивацию {{ object.name }}
{% endblock  %}


{% block body %}
    <h1>Вы уверены, что хотите архивировать {{ object.name }}?</h1>
    <br>
    <div>
        <a href="{% url 'shopapp:products_details' pk=object.pk %}">
            Назад к продукту
        </a>
    </div>
    <br>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Архивировать</button>
        </form>
    </div>
{% endblock  %}