{% extends "myauth/base.html" %}

{% block title %}
    About me
{% endblock %}

{% block body %}
    <h1>Информация о пользователе</h1>
    {% if user.is_authenticated %}

        {% if user.profile.avatar%}
    <img src="{{ user.profile.avatar.url}}" alt="{{user.profile.avatar.name}}">
    {% else %}
    Нет аватарки
    {% endif %}

    {% if request.user.is_staff or request.user.pk == user.pk%}
    <a href="{% url 'myauth:user_update' pk=user.profile.pk %}"
        ><h3>Обновить аватар</h3></a>
    {% endif %}

        <h2>Детали</h2>
        <p>Имя пользователя: {{ user.username }}</p>
        <p>Имя: {{ user.fist_name }}</p>
        <p>Фамилия: {{ user.last_name }}</p>
        <p>Электронная почта: {{ user.email }}</p>
        <p>Биография: {{ user.profile.bio }}</p>
    {% else %}
        <h2>Пользователь анонимен</h2>
    {% endif %}
{% endblock %}